<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>join</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script defer th:src="@{/main/main.js}"></script>-->
</head>
<body>
<div th:include="/main/header"></div>
<form action="/joinProc" method="post" class="needs-validation" novalidate name="joinForm">
    <h1>회원 가입</h1>
    <div class="form-group">
        <label for="userName">이름</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="이름을 입력해주세요" required>
        <div class="invalid-feedback">
            이름을 입력해주세요.
        </div>
    </div>
    <div class="form-group">
        <label for="email">이메일</label>
        <div class="input-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요" aria-describedby="emailHelp" required>
            <div class="invalid-feedback">
                이메일을 입력하세요.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호 입력해주세요" required>
        <div class="invalid-feedback">
            비밀번호를 입력해주세요.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
</form>

</body>
</html>