<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:include="/main/header"></div> <br>
<div class="container">
    <h2>로그인</h2>
    <form action="/loginProc" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="email">이메일 주소</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="이메일을 입력하세요" required>
            <div class="invalid-feedback">
                이메일을 입력하세요.
            </div>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요" required>
            <div class="invalid-feedback">
                비밀번호를 입력하세요.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
    <br><br>
    <div th:if="${error}" class="alert alert-danger">
        <p>이메일 혹은 비밀번호가 틀렸습니다.</p>
    </div>
</div>
</body>
</html>