<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </script>
    <style>
        .wishlist-button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div th:include="main/header"></div>
<div class="container">
    <h2>Memory Search</h2>
    <div class="form-group">
        <label for="resion">resion choice:</label>
        <select id="resion" class="form-control">
            <th:block th:each="resion : ${resionList}">
                <option th:value="${resion.code}" th:text="${resion.sido_name}"></option>
            </th:block>
        </select>
    </div>
    <div class="form-group" id="districtGroup" style="display: none;">
        <label for="district">Select District:</label>
        <select class="form-control" id="district"></select>
    </div>
    <button class="btn btn-primary" onclick="searchMemories()">Search</button>
</div>
<script th:inline="javascript">
    $('#resion').change(function() {
        let code = $(this).val();

         let data = {
            "code" : code,
            "code_level" : 2
        }

        $.ajax({
            url:"/api/server/selectResionSearch.do",
            type:"post",
            contentType:"application/json",
            data: JSON.stringify(data),
            success:function(response){
                var $districtSelect = $('#district');
                $districtSelect.empty(); // 기존 옵션 제거
                let data = response.resionList;
                console.log(data)

                if (data.size === 0) {
                    $districtSelect.append('<option value="">No districts available</option>');
                } else {
                    // 데이터에 따라 동적으로 옵션 추가
                    $.each(data, function(index, item) {
                        var value = item.code;
                        var text = item.sigungu_name;
                        $districtSelect.append('<option value="' + value + '">' + text + '</option>');
                    });
                }

                // 드롭다운 표시
                $('#districtGroup').show();

            },
            error:function(request,status,error){
    //            alert('인증 실패하였습니다. 다시 입력해주세요.')
            }
        })
    });

    function searchMemories() {
        var region = $('#region').val();
        var district = $('#district').val();
        var address11 = $('.address11').val();

        console.log('Searching memories in ' + resion + ', district: ' + address11);

        let data = {};
        data.accessToken = "a2bc8fb697e24217af77";
        data.address = "서울 마포구 어울마당로 75";
        data.pagenum = 0;
        data.resultcount = 5;

        $.ajax({
            url:"https://sgisapi.kostat.go.kr/OpenAPI3/addr/geocode.json",
            type:"post",
            contentType:"application/json",
            data: JSON.stringify(data),
            success:function(response){
                console.log("response -->",response)

            },
            error:function(request,status,error){
                alert('인증 실패하였습니다. 다시 입력해주세요.')
            }
        })
    }

    function addToWishlist(place) {
        var wishlist = $('#wishlist');
        var listItem = $('<li>').text(place);
        wishlist.append(listItem);
    }
</script>
</body>
<div th:include="main/footer"></div>
</html>