<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chattingweb.main.repository.MainRepository">

    <select id="getCnt" resultType="Integer">
        select count(*) from employees
    </select>

    <insert id="insertUser" parameterType="User">
        <selectKey keyProperty="userId" resultType="int" order="BEFORE">
            SELECT user_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO users (USER_ID, USERNAME, PASSWORD, EMAIL)
        VALUES (#{userId}, #{userName}, #{password}, #{email})
    </insert>
</mapper>