<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chattingweb.main.repository.MainRepository">

    <insert id="insertUser" parameterType="User">
        INSERT INTO chattingWeb.USERS (USERNAME, PASSWORD, EMAIL,ROLE,loginId)
        VALUES (#{userName}, #{password}, #{email},'ROLE_USER',#{loginId})
    </insert>

    <select id="emailCheck" parameterType="EmailDto">
        SELECT count(*)
        FROM chattingWeb.USERS
        WHERE USERS.EMAIL = #{email}
    </select>

    <select id="emailCntCheck" parameterType="EmailDto">
        SELECT count(*)
        FROM chattingWeb.USERS
        WHERE USERS.EMAIL = #{email}
    </select>

    <select id="loginCheck" parameterType="User">
        SELECT count(*)
        FROM chattingWeb.USERS
        WHERE USERS.EMAIL = #{email}
          and  USERS.password = #{password}
    </select>

    <select id="login" parameterType="User" resultType="User">
        SELECT *
        FROM chattingWeb.USERS
        WHERE USERS.EMAIL = #{email}
          and  USERS.password = #{password}
    </select>

    <select id="findById" parameterType="Integer" resultType="User">
        SELECT *
        FROM chattingWeb.USERS
        WHERE USERS.USER_ID = #{userId}
    </select>

    <select id="findByUserName" parameterType="String" resultType="User">
        SELECT *
        FROM chattingWeb.USERS
        WHERE USERS.loginId = #{username}
    </select>
    <select id="findByEmail" parameterType="String" resultType="User">
        SELECT *
        FROM chattingWeb.USERS
        WHERE USERS.username = #{username}
    </select>
</mapper>