<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="package com.example.chattingweb.api.repository.PostsRepository">
    <!-- INSERT 쿼리문 -->
    <insert id="insertPostDto" parameterType="PostsDto">
        INSERT INTO Posts (
                title,
                content,
                user_id
                <if test="visitedFriends != null">
                    , visited_friends
                </if>
                <if test="locationId != null">
                    , location_id
                </if>
                <if test="locationId != null">
                    , location_registered
                </if>
        )
        VALUES (
                #{title},
                #{content},
                #{userId}
                <if test="visitedFriends != null">
                    , #{visitedFriends}
                </if>
                <if test="locationId != null">
                    , #{locationId}
                </if>
                <if test="locationId != null">
                    , true
                </if>
                )
    </insert>

</mapper>