<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>join</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <script defer th:src="@{/main/main.js}"></script>-->


</head>
<style>
    #post-column {
        position: relative;
        height: 90vh;
    }
    .pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
</style>
<body>
<div th:include="/main/header"></div>
<div style="margin-bottom:29px;"></div>
<div class="container-fluid">
    <div class="row no-gutters">
        <!-- 왼쪽 게시글 영역 -->
        <div class="col-md-3" id="post-column">
            <div class="포스트">
                <div th:each="post : ${postList}" class="post">
                    <div class="card" style="margin-bottom:10px;">
                        <div class="card-header">
<!--                            <h6 class="post-title" th:text="${post['title']} + ${post['title']} " style="height: 10px;"></h6>-->
                            <h6 class="post-title" style="height: 10px;">
                                <span th:if="${post['placeId']}" th:text="${post['title'] + ' (' + post['placeName'] +' | '+post['address'] + ')'}"></span>
                                <span th:unless="${post['placeId']}" th:text="${post['title']}"></span>
                            </h6>

                        </div>
                        <div class="card-body" id="post-list" style="height: 100px;">
                            <p class="post-content" th:text="${post['content']}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 페이징 -->
            <ul class="pagination justify-content-center mt-3">
                <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/api/server/map.do(page=0)}">&lt;&lt;</a>
                </li>
                <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/api/server/map.do(page=${currentPage - 1})}">&lt;</a>
                </li>
<!--                <th:block th:each="pageItem : ${#numbers.sequence(currentPage - 1, currentPage)}">-->
<!--                    <li th:class="${currentPage == pageItem} ? 'page-item active' : 'page-item'">-->
<!--                        <a class="page-link" th:href="@{/api/server/map.do(page=${pageItem})}" th:text="${pageItem + 1}"></a>-->
<!--                    </li>-->
<!--                </th:block>-->
                <th:block th:each="pageItem : ${#numbers.sequence(0, totalPages - 1)}">
                    <li th:class="${currentPage == pageItem} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/api/server/map.do(page=${pageItem})}" th:text="${pageItem + 1}"></a>
                    </li>
                </th:block>
                <li th:class="${currentPage + 1 == totalPages} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/api/server/map.do(page=${currentPage + 1})}">&gt;</a>
                </li>
                <li th:class="${currentPage + 1 == totalPages} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/api/server/map.do(page=${totalPages - 1})}">&gt;&gt;</a>
                </li>
            </ul>
        </div>
        <!-- 오른쪽 지도 영역 -->
        <div class="col-md-9" id="map-column">
            <div id="map"></div> <!-- 지도를 표시할 영역 -->
        </div>
    </div>
</div>



<!-- 부트스트랩 및 지도 API 스크립트 추가 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=92ef8d9822b2fa9e38f28f32d15d230a"></script>
</body>
</html>